@font-face {
    font-family: "Hakusyu";
    src: url("fonts/HakusyuGyosyo.ttf");
}

@font-face {
    font-family: "Linux Libertine";
    src: url("fonts/LinuxLibertineMono.ttf");
}

html {
    scroll-padding-top: 90px;
}

body {
    font-family: "ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","游明朝",YuMincho,"HG明朝E","メイリオ",Meiryo,Roboto,"Droid Sans",Osaka,"ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
    text-rendering: optimizeLegibility;
}

.en {
    font-family: Arial, Helvetica, sans-serif;
}

.bg-left {
    background-image: url("../img/landing-left.png");
    background-size: cover;
}

.bg-right {
    background-image: url("../img/landing-right.png");
    background-size: cover;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.jah {
    font-family: "Hakusyu";
    letter-spacing: 2rem;
}

.stroke-bold {
    text-shadow:
        -2px -2px 1px #000,
         0   -2px 1px #000,
         2px -2px 1px #000,
         2px  0   1px #000,
         2px  2px 1px #000,
         0    2px 1px #000,
        -2px  2px 1px #000,
        -2px  0   1px #000;
}

.stroke {
    text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
}

.stroke-transparent {
    filter:
        drop-shadow( 0px -1px 0.0625em #000)
        drop-shadow( 0px  1px 0.0625em #000)
        drop-shadow(-1px  0px 0.0625em #000)
        drop-shadow( 1px  0px 0.0625em #000);
}

.border-left {
    border-left: 0.25em solid #FFF;
}

.border-right {
    border-right: 0.25em solid #FFF;
}

.font-size-lg {
    font-size: calc(2rem + 1.5vw);
}

.carousel-text-tr {
    position: absolute;
    right: 1.5em;
    top: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #FFF;
    text-align: right;
    font-weight: bold;
    font-size: calc(0.5rem + 1vw);
}

.carousel-text-br {
    position: absolute;
    right: 1.5em;
    bottom: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #FFF;
    text-align: right;
    font-weight: bold;
    font-size: calc(0.5rem + 1vw);
}

.carousel-text-bl {
    position: absolute;
    left: 1.5em;
    bottom: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: #FFF;
    text-align: left;
    font-weight: bold;
    font-size: calc(0.5rem + 1vw);
}

.row-content .row {
    border-bottom: 1px solid #DDD;
}

.row-content .row:last-child {
    border: none;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.carousel {
    max-width: 100%;
    height: calc(100vh - 74px);
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    visibility: hidden;
}

#mainContent .card-header {
    border-bottom: none;
    background-color: transparent;
}

#mainContent .nav-link.active {
    background-color: transparent;
    font-weight: bolder;
    color: #000;
}

#mainContent .nav-link.active:hover {
    text-decoration: none;
}

#mainContent .nav-link {
    color: #444;
    font-weight: bold;
}

#mainContent .nav-link:hover {
    color: #000;
}

#mainContent {
    background-color: #ADB2B0;
    color: #000;
    border-radius: 0;
    border: none;
}

#footer-stop {
    filter:invert();
}

#footer-menu {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    column-gap: 1em;
    column-width: 150px;
}

#footer-menu a {
    color: #DDD;
    text-decoration: none;
    font-size: 0.75rem;
}

#footer-menu a:hover {
    text-decoration: underline;
    color: #FFF;
    text-underline-offset: 3px;
}

#footer-menu li {
    margin-right: 0;
}

.infoContent ol {
    counter-reset: list;
}

.infoContent ol > li {
    list-style: none;
    position: relative;
}

.infoContent ol > li:before {
    counter-increment: list;
    font-family: 'Linux Libertine', 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    content: counter(list, lower-alpha) ")";
    position: absolute;
    left: -1.4em;
    top: 0.2em;
}

.infoContent a {
    color: #000;
    text-underline-offset: 3px;
}

.infoContent a:hover {
    color: #666;
}

@media (max-width: 1200px) {
    .navbar-collapse.show .dropdown-menu {
        margin-top: 0;
        background: transparent;
        border: none;
    }
    
    .navbar-collapse.show .dropdown-item {
        color: #DDD;
    }
    
    .navbar-collapse.show .dropdown-item:hover {
        color: #000;
    }
}

.navbar {
    background-color: #030B11;
}

.navbar-collapse .dropdown-menu {
    background: #FFF;
    border: 1px solid black;
}

.navbar-collapse .dropdown-item, .navbar-collapse .dropdown-item:hover {
    color: #000;
}

.nav-link {
    color: #DDD;
}

.nav-link:hover {
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.fadeIn {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}